<!-- <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
   
    <ion-content>
  
      
      <ion-list>
        <button ion-item *ngFor="let p of pages" (tap)="openPage(p)">
          {{p.title}}
        </button>
        <button ion-item (click)="exitAlert()">
          Quitter application
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" #content swipeBackEnable="true" [root]="rootPage"></ion-nav>
  <ion-header>
<ion-header>
  <ion-navbar color = "secondary" >
    <ion-title>
     Ticknet Préférences
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
  <ion-item detail-push>
    Item with Detail Arrow
  </ion-item>
  <ion-item detail-push>
    Item with Detail Arrow
  </ion-item>
<ion-footer color = "secondary">
  <ion-item>
    <ion-label>Employee</ion-label>
    <ion-select [(ngModel)]="employee" [compareWith]="compareFn">
      <ion-option *ngFor="let employee of employees" [value]="employee"></ion-option>
    </ion-select>
  </ion-item>
  
    
</ion-footer>
    
