<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Ticknet Arrêts
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (tap)="getConnexion()">
        <ion-icon name="md-contacts"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <marquee behavior="alternate" BGCOLOR="green">{{text}}</marquee>

</ion-header>
<ion-content id="depart">


  <ion-searchbar id="searchbar" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item-sliding #item>
      <ion-item *ngFor="let load of ville">
        <ion-avatar item-start>
          <img src="imgs/car.png">
        </ion-avatar>
        <h3> Pays:
          <strong>{{load.pays }}</strong>
        </h3>
        <h3> Département: {{load.departement}}
          <br> Ville: {{load.ville}}</h3>
      </ion-item>
      <ion-item-options side="left" icon-start>
        <button ion-button (click)="favorite(item)">Favoris
          <ion-icon name="archive"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button (click)="unread(item)">Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- <ion-item-sliding>
              <ion-item *ngFor="let load of loadedCountryList; let i = index">

                  <ion-avatar item-start>
                    <img src="../../assets/imgs/car.png">
                  </ion-avatar>
                  <h1>Pays: {{load.pays}} </h1>
              <h2>  Département: {{load.departement}}</h2> 
                  <h3>  Ville: {{load.ville}}</h3> 
                  </ion-item>
                  
              
          </ion-item-sliding> -->
  <!-- </ion-list> -->
</ion-content>
<ion-footer>

</ion-footer>